@keyframes animatedSquareVisibility {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: transparent;
    transform: rotate(180deg);
  }
}

.animated-square {
  border: 1px solid transparent;
  width: 35px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  animation-name: animatedSquareVisibility;
  animation-duration: 5s;
  z-index: 10;
}